# Optional. Leave empty to use Firebase Auth + Firestore direct mode.
EXPO_PUBLIC_BACKEND_URL=
EXPO_PUBLIC_FIREBASE_WEB_PUSH_VAPID_KEY=BHn1PummgMk2Im-xvAP3zeXXqeS9qm0XsoYJHzlUfEvY49MSIb0TlQ6P-v4DKTOHGRVyBJtnMa8ax0Fkesl8Ido
EXPO_PUBLIC_APILAYER_KEY=
EXPO_PUBLIC_TMDB_API_KEY=4300217e16dba490da871af16163cedb
EXPO_PUBLIC_TMDB_READ_TOKEN=
